@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'idroid', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c5ebd6
    
}

header {
    background-image: linear-gradient(var(--cor2), var(--cor5));
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header > h1 { 
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.285);
    font-weight: normal;
}

header > p {
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.285);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.205);
}

 nav > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.85s;
 }

 nav > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
 }

main {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);

}

main img {
    width: 100%;
}

main img.bugdr {
    max-width: 350px;
    display: block;
    margin: auto;
}

h1 {
    font-family: var(--fonte-android);
    color: #3ea16c;
}

main h2 {
    font-family: 'idroid', Times, serif;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor4);
    font-size: 1.8em;
    font-weight: normal;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
    font-size: 1.1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: rgba(30, 97, 30, 0.164);
    padding: 2px 6px
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3)
}

div.video {
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.337);
}

aside > h3 { 
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    lighting-color: rgb(255, 230, 0);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    text-decoration: none;
    color: var(--cor2);
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3)

}

@media screen {
    
}